html, body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

#mobile-container {
  display: block;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30vh 5vw 0vh 5vw;
  font-size: 18px;
  line-height: 5vh;
  font-family: 'Source Code Pro', monospace;
  color: black;
}

#top-container {
  display: none;
}

@media only screen and (min-width: 670px) {
  a {
    border-bottom: 1px solid black;
    color: #FF08AD;
    padding-bottom: .5em;
    text-decoration: none;
  }
  a:hover {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/squiggle.svg");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
  }
  #top-container {
    display: contents;
  }
  #mobile-container {
    display: none;
  }
  #sketch-holder {
    margin: 2vh 0vh 0vh 0vh;
    padding-bottom: 5vh;
    border: 3px solid white;
    background-color: black;
    color: white;
  }
  #sketch-holder #beatgrid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 1fr 6fr 4fr;
        grid-template-columns: 4fr 1fr 6fr 4fr;
    margin-bottom: 3vh;
  }
  #sketch-holder #beatgrid-container table#tracks {
    border-collapse: separate;
    border-spacing: 0 17px;
    text-align: right;
    color: #FF08AD;
    width: 25%;
  }
  #sketch-holder #volume-sliders-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -ms-grid-columns: (0.5fr)[9];
        grid-template-columns: repeat(9, 0.5fr);
    color: white;
    margin-left: 3vw;
    border: 1px solid white;
    padding: 5vh 0vh 2vh 0vh;
  }
  #sketch-holder #hihat,
  #sketch-holder #openhat,
  #sketch-holder #ride,
  #sketch-holder #clap,
  #sketch-holder #perc,
  #sketch-holder #snare,
  #sketch-holder #synthOne,
  #sketch-holder #synthThree,
  #sketch-holder #kick {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    padding-bottom: 40px;
  }
  #sketch-holder .slider {
    text-align: center;
    margin: 4vh 3vh 0vh 0vh;
  }
  #sketch-holder #hihat-color {
    color: #04E762;
  }
  #sketch-holder #openhat-color {
    color: #F5B700;
  }
  #sketch-holder #ride-color {
    color: #DC0073;
  }
  #sketch-holder #clap-color {
    color: #008BF8;
  }
  #sketch-holder #perc-color {
    color: #E6FF00;
  }
  #sketch-holder #snare-color {
    color: #0606FF;
  }
  #sketch-holder #synthOne-color {
    color: #B700FF;
  }
  #sketch-holder #synthThree-color {
    color: #FF08AD;
  }
  #sketch-holder #kick-color {
    color: #FE8C12;
  }
  #volume-control {
    margin: 5vh 0vh 8vh 0vh;
  }
  #top-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
  }
  #design-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 5fr;
        grid-template-columns: 3fr 5fr;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    border-radius: 10%;
    margin-bottom: 2vh;
  }
  #design-container #bpmControl-holder, #design-container #masterVolControl-holder {
    width: 75%;
    color: whitesmoke;
    margin-left: 12.5%;
  }
  #design-container button {
    background-color: #FF08AD;
    color: black;
    padding: 3px;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    margin-top: 2vh;
    border-radius: 5%;
    -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    cursor: pointer;
  }
  #design-container button:hover {
    -webkit-box-shadow: 2px 4px 4px #ff88d7;
            box-shadow: 2px 4px 4px #ff88d7;
  }
  #design-container #main-title {
    width: 75%;
    color: black;
    background-color: white;
    padding: 5px;
    border: 1px black solid;
    border-radius: 5%;
  }
  #design-container #loop-machina {
    font-size: 42px;
    text-align: center;
  }
  #techno-sequencer {
    font-size: 22px;
    text-align: center;
  }
  #techno-sequencer #techno {
    color: #FF08AD;
    font-family: 'Russo One', sans-serif;
    font-size: 22px;
  }
  #footer-container {
    margin: 5vh;
  }
}

@media only screen and (min-width: 1020px) {
  article {
    width: 75%;
    margin-left: 12.5%;
    text-align: justify;
  }
  #top-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
  }
  #sketch-holder {
    margin: 2vh 0vh 2vh 0vh;
    padding-bottom: 10vh;
    border: 3px solid black;
  }
  #sketch-holder #beatgrid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 1fr 6fr 4fr;
        grid-template-columns: 4fr 1fr 6fr 4fr;
    margin-bottom: 3vh;
  }
  #sketch-holder #design-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 5fr;
        grid-template-columns: 3fr 5fr;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    border-radius: 10%;
    margin-bottom: 2vh;
  }
  #sketch-holder #design-container #bpmControl-holder, #sketch-holder #design-container #masterVolControl-holder {
    width: 75%;
    color: white;
    margin-left: 25%;
  }
  #sketch-holder #design-container button {
    background-color: #FF08AD;
    color: black;
    padding: 3px;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    margin-top: 2vh;
    border-radius: 5%;
  }
  #sketch-holder #design-container #main-title {
    width: 75%;
    color: black;
    background-color: white;
    padding: 5px;
    border: 1px black solid;
    border-radius: 5%;
  }
  #loop-machina {
    font-size: 42px;
  }
  #techno-sequencer {
    font-size: 36px;
  }
  #techno-sequencer #techno {
    color: #FF08AD;
    font-family: 'Russo One', sans-serif;
    font-size: 36px;
  }
}
/*# sourceMappingURL=styles.css.map */