html, body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
  }

// MOBILE
#mobile-container {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 30vh 5vw 0vh 5vw;
    font-size: 18px;
    line-height: 5vh;
    font-family: 'Source Code Pro', monospace;
    color: black;
}

#top-container {
    display: none;
}


// TABLET
@media only screen and (min-width: 670px) {

    a {
        border-bottom: 1px solid black;
        color: #FF08AD;
        padding-bottom: .5em;
        text-decoration: none;
    }
  
    a:hover {
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/squiggle.svg");
        background-position: bottom;
        background-repeat: repeat-x;
        background-size: 20%;
        border-bottom: 0;
        padding-bottom: .3em;
        text-decoration: none;
    }

    #top-container {
        display: contents;
    }

    #mobile-container {
        display: none;
    }

    #sketch-holder {
        margin: 2vh 0vh 0vh 0vh;
        padding-bottom: 5vh;
        border: 3px solid white;
        background-color: black;
        color: white;


        #beatgrid-container {
            display: grid;
            grid-template-columns: 4fr 1fr 6fr 4fr;
            margin-bottom: 3vh;

            table#tracks {
                border-collapse: separate;
                border-spacing: 0 17px;
                text-align: right;
                color: #FF08AD;
                width: 25%;
            }
        }

        #volume-sliders-container {
            display: grid;
            align-items: center;
            justify-items: center;
            grid-template-columns: repeat(9, 0.5fr);
            color: white;
            margin-left: 3vw;
            border: 1px solid white;
            padding: 5vh 0vh 2vh 0vh;
        }

        #hihat,
        #openhat,
        #ride,
        #clap,
        #perc,
        #snare,
        #synthOne,
        #synthThree,
        #kick {
            transform: rotate(-90deg);
            padding-bottom: 40px;
        }

        .slider {
            text-align: center;
            margin: 4vh 3vh 0vh 0vh;
        }

        #hihat-color {
            color: #04E762;
        }

        #openhat-color {
            color: #F5B700;
        }

        #ride-color {
            color: #DC0073;
        }

        #clap-color {
            color: #008BF8;;
        }

        #perc-color {
            color: #E6FF00;
        }

        #snare-color {
            color: #0606FF;
        }

        #synthOne-color {
            color: #B700FF;
        }

        #synthThree-color {
            color: #FF08AD;
        }

        #kick-color {
            color: #FE8C12;
        }
    }

    #volume-control {
        margin: 5vh 0vh 8vh 0vh;
    }

    #top-container {
        display: grid;
        align-items: center;
        justify-items: center;
        text-align: center;
        font-family: 'Source Code Pro', monospace;
    }

    #design-container {
        display: grid;
        grid-template-columns: 3fr 5fr;
        width: 100%;
        align-items: center;
        justify-items: center;
        border-radius: 10%;
        margin-bottom: 2vh;

        #bpmControl-holder, #masterVolControl-holder {
        width: 75%;
        color: whitesmoke;
        margin-left: 12.5%;
        }

        button {
            background-color: #FF08AD;
            color: black;
            padding: 3px;
            font-family: 'Source Code Pro', monospace;
            font-size: 14px;
            margin-top: 2vh;
            border-radius: 5%;
            transform: perspective(1px) translateZ(0);
            cursor: pointer;
        }

        button:hover {
            box-shadow: 2px 4px 4px #ff88d7;
        }

        #main-title {
            width: 75%;
            color: black;
            background-color: white;
            padding: 5px;
            border: 1px black solid;
            border-radius: 5%;
        }

        #loop-machina {
            font-size: 42px;
            text-align: center;
        }
    }

    #techno-sequencer {
        font-size: 22px;
        text-align: center;

        #techno {
            color: #FF08AD;
            font-family: 'Russo One', sans-serif;
            font-size: 22px;
        }
    }


    #footer-container {
        margin: 5vh;
    }
}



// DESKTOP
@media only screen and (min-width: 1020px) {
  
    article {
        width: 75%;
        margin-left: 12.5%;
        text-align: justify;
    }

    #top-container {
        display: grid;
        align-items: center;
        justify-items: center;
        text-align: center;
        font-family: 'Source Code Pro', monospace;
    }

    #sketch-holder {
        margin: 2vh 0vh 2vh 0vh;
        padding-bottom: 10vh;
        border: 3px solid black;

        #beatgrid-container {
            display: grid;
            grid-template-columns: 4fr 1fr 6fr 4fr;
            margin-bottom: 3vh;
        }

        #design-container {
            display: grid;
            grid-template-columns: 3fr 5fr;
            width: 100%;
            align-items: center;
            justify-items: center;
            border-radius: 10%;
            margin-bottom: 2vh;

            #bpmControl-holder, #masterVolControl-holder {
                width: 75%;
                color: white;
                margin-left: 25%;
            }

            button {
                background-color: #FF08AD;
                color: black;
                padding: 3px;
                font-family: 'Source Code Pro', monospace;
                font-size: 14px;
                margin-top: 2vh;
                border-radius: 5%;
            }

            #main-title {
                width: 75%;
                color: black;
                background-color: white;
                padding: 5px;
                border: 1px black solid;
                border-radius: 5%;
            }
        }
    }

    #loop-machina {
        font-size: 42px;
    }

    #techno-sequencer {
        font-size: 36px;

        #techno {
        color: #FF08AD;
        font-family: 'Russo One', sans-serif;
        font-size: 36px;
        }
    }
}