html, body {
  margin: 0;
  padding: 0;
  background-color: #cfcdcd;
}

#mobile-container {
  display: block;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30vh 5vw 0vh 5vw;
  font-size: 18px;
  line-height: 5vh;
  font-family: 'Source Code Pro', monospace;
  color: black;
}

#top-container {
  display: none;
}

@media only screen and (min-width: 670px) {
  a {
    border-bottom: 1px solid black;
    color: red;
    padding-bottom: .5em;
    text-decoration: none;
  }
  a:hover {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/squiggle.svg");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
  }
  #top-container {
    display: contents;
  }
  #mobile-container {
    display: none;
  }
  #sketch-holder {
    margin: 2vh 0vh 2vh 0vh;
    padding-bottom: 10vh;
    border: 3px solid white;
    padding: 20px;
    background-color: black;
    color: white;
  }
  #sketch-holder #beatgrid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr;
        grid-template-columns: 1fr 5fr;
  }
  #sketch-holder #volume-sliders-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -ms-grid-columns: 2fr 2fr 2fr;
        grid-template-columns: 2fr 2fr 2fr;
    color: white;
  }
  #top-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
  }
  #design-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 5fr;
        grid-template-columns: 3fr 5fr;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    border-radius: 10%;
    margin-bottom: 2vh;
  }
  #design-container #bpmControl-holder, #design-container #masterVolControl-holder {
    width: 75%;
    color: whitesmoke;
    margin-left: 12.5%;
  }
  #design-container button {
    background-color: whitesmoke;
    color: black;
    padding: 3px;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    margin-top: 2vh;
    border-radius: 5%;
  }
  #design-container #main-title {
    width: 75%;
    color: black;
    background-color: white;
    padding: 5px;
    border: 1px black solid;
    border-radius: 5%;
  }
  #design-container #loop-machina {
    font-size: 42px;
    text-align: center;
  }
  #techno-sequencer {
    font-size: 22px;
    text-align: center;
  }
  #techno-sequencer #techno {
    color: red;
    font-family: 'Russo One', sans-serif;
    font-size: 22px;
  }
  .sound {
    text-align: right;
    margin-top: 2vh;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding-right: 1px;
    font-size: 12px;
  }
  #footer-container {
    margin: 5vh;
  }
}

@media only screen and (min-width: 1020px) {
  article {
    width: 75%;
    margin-left: 12.5%;
    text-align: justify;
  }
  #top-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
  }
  #sketch-holder {
    margin-top: 2vh;
    padding-bottom: 10vh;
    border: 3px solid black;
    padding: 20px;
  }
  #sketch-holder #beatgrid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr;
        grid-template-columns: 1fr 5fr;
  }
  #sketch-holder #beatgrid-container .sound {
    text-align: right;
    margin-top: 2.45vh;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding-right: 1px;
  }
  #sketch-holder #design-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 5fr;
        grid-template-columns: 3fr 5fr;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    border-radius: 10%;
    margin-bottom: 2vh;
  }
  #sketch-holder #design-container #bpmControl-holder {
    width: 75%;
    color: red;
    margin-left: 12.5%;
  }
  #sketch-holder #design-container button {
    background-color: red;
    color: black;
    padding: 3px;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    margin-top: 2vh;
    border-radius: 5%;
  }
  #sketch-holder #design-container #main-title {
    width: 75%;
    color: black;
    background-color: white;
    padding: 5px;
    border: 1px black solid;
    border-radius: 5%;
  }
  #loop-machina {
    font-size: 42px;
  }
  #techno-sequencer {
    font-size: 36px;
  }
  #techno-sequencer #techno {
    color: red;
    font-family: 'Russo One', sans-serif;
    font-size: 36px;
  }
}
/*# sourceMappingURL=styles.css.map */