html, body {
  margin: 0;
  padding: 0;
  background-color: white;
}
#top-container {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

#sketch-holder {
  margin-top: 2vh;
  padding-bottom: 10vh;
  border: 3px solid black;
  padding: 20px;
  background-color: lightgrey;
}

#controls-container {
  display: grid;
  grid-template-columns: 4fr 4fr;
  column-gap: 5px;
  align-items: center;
  justify-items: center;
  font-family: 'Source Code Pro', monospace;
}

#design-container {
  background-color: rgb(100, 238, 100);
  border: 2px solid black;
  width: 40%;
  margin-left: 30%;
  border-radius: 10%;
  margin-bottom: 2vh;
}
#main-title {
  position: relative;
  margin-right: 40vw;
  width: 100%;
}

#techno {
  color: rgb(100, 238, 100)
}

button {
  background-color: rgb(100, 238, 100);
  color: black;
  padding: 5px;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  margin-top: 5vh;
  border-radius: 5%;
}